@use "src/index.scss" as *;

.pattern-box{
    color: $grubbyPaper;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    // margin: 1.5rem;
    padding: 1.5rem;
}

.pattern-box{
    background-image: url("../../assets/pexels-alex-andrews.jpg");
    background-size: cover;
    border-bottom: 2px solid $notBlack;
    color: $grubbyPaper;
    height: 81dvh;
}
.notes-box{
    display: flex;
    flex-direction: column;
}
@media (max-width: 450px) {
    .pattern-box{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}
