@use "src/index.scss" as *;

.pattern-box{
    display: grid;
    gap: 1.5rem;
    margin: 1.5rem;
}

@media (max-width: 450px) {
    .pattern-box{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}