@use "src/index.scss" as *;

.counters-dash{
    color: $betterGreen;
}

.flag,
.heart {
   color: $greenButter;

}
.flagButton,
.heartButton{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    // border: 1px solid $sunflower;
    color: $greenButter;
    font-size: 2rem;
}
.flagButton:hover,
.heartButton:hover{
    color: $sunflower;
}
.flagButton:active,
.heartButton:active{
    color: $deepOrange;
}