@use "src/index.scss" as *;

.profileFormContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

legend,
label,
input {
    padding: .5rem;
    margin-bottom: .5rem;
}
.profile-form{
    align-items: flex-start;
    background-color: rgb(176, 151, 99, .8);
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    padding: 1rem;
    width: 40vw;
}

.formDetailsDisplay {
    background-color: rgb(176, 151, 99, .6);
    min-width: 40vw;
    padding: 1rem;
}

.myFieldset {
    background-color: $champaigneBuick;
}