@use "src/index.scss" as *;

.fit-notes-view{
    background-image: url("../../assets/pexels-alex-andrews.jpg");
    background-size: cover;
    border-bottom: 2px solid $notBlack;
    color: $grubbyPaper;
    height: 81dvh;    
}

.fit-notes-view-h2 {
    color: $grubbyPaper;
}

.noteContainer {
    margin: 1rem;
}

.pContainer {
    background-color: rgb(9, 15, 8, .7);
    font-weight: 700;
    padding: 1rem;

}