@use "src/index.scss" as *;

.portraits {
    background-color: $grubbyPaper;
    border: .2rem solid silver;
    border-radius: .1rem;
    clip-path: polygon(7% 0, 93% 0, 100% 7%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 7%);
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.portrait-heading{
    background-color: $betterGreen;
    color: $blueGray;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}


.portrait-button{
    background-color: $grubbyPaper;
    border-inline-color: $retroPink;
    border-inline-width: .2rem;
    border-inline-style: auto;
    border-radius: .2rem;
    color:$blueGray;
    font-size: 1.3rem;
    font-weight: 200;
    padding: .5rem;
    width: 100%;
}

.portrait-button:hover{
    background-color: $retroPink;
    border-inline-color: $darkGray;
    color: $notBlack;
}

.pattern-pic{
    object-fit: cover;
    height: 480px;
    width: 320px;
}

@media (max-width: 450px){
    .portraits{
        max-width: 320px;
    }
    .pattern-pic{
        object-fit: cover;
        width: 320px;
    }
    
}