@use "src/index.scss" as *;

.span-notes{
    font-style: italic;
}

.right-info{
    background-color: rgb(0, 0, 0, .7);
    border-radius: .3rem;
    padding: .8rem;
}

.thumbsUp{
    background-color: black;
    border: none;
    color: $greenButter;
    
}

.thumbsUp:hover{
    color: red;
}

.thumbsDown{
    background-color: black;
    border: none;
    color: $greenButter; 
}

.thumbsDown:hover{
    color: red;
}

thumbsUp:active{
    color:green;
}

.thumbsDown:active{
    color:green;
}