@use "src/index.scss" as *;

.pattern-browser-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem;
}

@media (max-width: 450px) {
    .pattern-browser-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1300px) {
    .pattern-browser-container{
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(4, 1fr);
    }
}