@use "src/index.scss" as *;

.navigator-bar{
    align-items: center;
    background-color: $notBlack;
    border-bottom: .2rem solid $blueGray;
    display: flex;
    flex-direction: row;
    min-height: 8lvh;
    width: 100lvw;
}

a,
.browse-nav,
.profile-nav,
.your-fit-notes-nav{        
    color: $grubbyPaper;
    font-size: 1.3rem;
    font-weight: 300, 1;
    margin: 0;
    text-decoration: none;
}

a:hover{
    color: silver;
}
@media (max-width: 450px){
    ul,
    .navigator-bar{
        font-size: 1rem;
        padding: .5rem;
    }

    a,
    .browse-nav,
    .profile-nav,
    .your-fit-notes-nav{
    font-size: 1rem;
    }
}